
.container{
    background-color: white;
    box-sizing: content-box;
    margin:10px 20px 30px 10px;
    padding:20px 20px 3px 10px;
    border: 2px solid white
}

.container .box1 a:link{
    text-decoration: none;
    color: black;
    text-shadow: 2px 3px 5px black;
    margin:10px 20px 10px 12px;
    font-style: initial;
    font-size: 20px;
    
}

.container #container .box3 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 600px;
    position :relative;
    margin-bottom: (-30opx);
    margin-top: 10px;

}
.container .form{
    text-align: center;
    border-bottom: 100px;
    text-align: top;
    margin-left: 180px;
    color:rgb(99, 93, 93);
    font-style: inherit;
    font-size: 20px;
    font-weight: bold;
}
#form{
    background-color:rgba(43, 43, 153, 0.377) ;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: bolder;
    padding:20px 10px 20px 10px;
    font-size: 20px;
}
#form span{
    color:greenyellow;
}
#container2{
    background-color:rgb(221, 208, 208);
    text-align: center;
    overflow: hidden;
    
    
}

#container2 .let1,.let2 {
    background-color: white;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    
    
} 
.let1{
    width: 600px;
    height: 500px;
    float: left;
    justify-content: left;
    
    margin-right: 20px;
    display: flex;
    text-indent: 20px;
    text-decoration: dotted;

}   
.let2{
    width: 600px;
    height: 500px;
    float: right;
    display: flex;

}                                                                                                                                                                                                                                                                                                            
.container3{
    background-color:rgba(43, 43, 153, 0.377) ;
    margin: 20px 20px 20px 10px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    color: white;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}
.container3 button{
    background-color: rgb(121, 192, 15);
    border-radius: 10px;
    border:4px solid rgb(149, 221, 15);
    font-size: 15px;
    font-style: oblique;
    margin:10px 20px 20px 10px;
}

.container4 {
    background-color: white;
    text-align: center
}
.let3,.let4,.let4 img{
    position: left;

}
.con{
    background-color: white;
    text-align: center;
}
.map{
    display: flex;

}
 .contact, form{
    border: 2px solid green; 
}
.for{
    border:5px solid yellow;
}


.container5{
    background-image: url(../image/section-bg.jpg);
    background-color:rgba(23, 23, 161, 0.18);
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    

}
.let7 table{
    text-align: center;
    border: 5px solid white;
    margin-right: 20px;
    align-items: center;
    color: white;
    position: relative;
    

}
